@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.Settings
@using Volo.Abp.Ui.Branding
@using Jh.Abp.IdentityServer

@model Jh.Abp.JhIdentity.Pages.Account.LoginModel
@inject IHtmlLocalizer<AccountResource> L
@inject Volo.Abp.Settings.ISettingProvider SettingProvider
@inject IBrandingProvider BrandingProvider


@section styles{
    <abp-style-bundle name="@ThemeBundles.Styles.Login" />
}

<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <h4 style="text-align:center;">
            <img src="@(BrandingProvider.LogoUrl)" class="rounded-circle" width="32"/>
            @BrandingProvider.AppName
        </h4>
        @if (Model.EnableLocalLogin)
        {
            <abp-tabs tab-style="Pill">
                <abp-tab title="@Model.GetLocalizedString("AccountLogin")">
                    <form method="post" class="mt-4">
                        <div class="form-group mb-3">
                            <label asp-for="LoginInput.UserNameOrEmailAddress" class="mb-1"></label>
                            <input asp-for="LoginInput.UserNameOrEmailAddress" class="form-control" />
                            <span asp-validation-for="LoginInput.UserNameOrEmailAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="LoginInput.Password" class="mb-1"></label>
                            <input asp-for="LoginInput.Password" class="form-control" />
                            <span asp-validation-for="LoginInput.Password" class="text-danger"></span>
                        </div>
                         @*<abp-row class="mb-3">
                            <abp-column>
                                <abp-input asp-for="LoginInput.RememberMe" />
                            </abp-column>
                           <abp-column class="text-right">
                                <a href="@Url.Page("./ForgotPassword", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})">@L["ForgotPassword"]</a>
                            </abp-column>
                        </abp-row>*@
                        <div>
                            <abp-button type="submit" button-type="Primary" name="Action" value="Login" class="btn-block btn-lg w-100">@L["Login"]</abp-button>
                        </div>
                        @if (Model.ShowCancelButton)
                        {
                            <abp-button type="submit" button-type="Secondary" formnovalidate="formnovalidate" name="Action" value="Cancel" class="btn-block btn-lg mt-3">@L["Cancel"]</abp-button>
                        }
                    </form>
                </abp-tab>
                @*   <abp-tab title="@Model.GetLocalizedString("QrLogin")">
                    Content_Profile
                    </abp-tab>*@
            </abp-tabs>

            @if (await SettingProvider.IsTrueAsync(AccountSettingNames.IsSelfRegistrationEnabled))
            {
            <div class="register">
               <strong>
                    @L["AreYouANewUser"]
                <a href="@Url.Page("./Register", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="text-decoration-none">@L["Register"]</a>
               </strong>
            </div>
            }
        }
    </div>
</div>

