@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Jh.Abp.IdentityServer
@model Jh.Abp.JhIdentity.Pages.Account.RegisterModel
@inject IHtmlLocalizer<AccountResource> L

@section styles{
    <abp-style-bundle name="@ThemeBundles.Styles.Register" />
}

<div class="card mt-3 shadow-sm rounded">
    <div class="card-body p-5">
        <h4>@L["Register"]</h4>
        <strong>
            @L["AlreadyRegistered"]
            <a href="@Url.Page("./Login", new {returnUrl = Model.ReturnUrl, returnUrlHash = Model.ReturnUrlHash})" class="text-decoration-none">@L["Login"]</a>
        </strong>
        <form method="post" class="mt-4">
            @if (!Model.IsExternalLogin)
            {
                <abp-input asp-for="Input.UserName" auto-focus="true" />
            }

            <abp-input asp-for="Input.EmailAddress" />

            <div class="mb-3">
                <label for="MyModel_EmailAddress">Email Code</label>
                <span>*</span>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="EmailCode" data-val="true" data-val-required="请填写邮箱验证码" name="EmailCode" placeholder="验证码" aria-label="验证码" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="sendcode">发送验证码</button>
                </div>
                <span class="text-danger field-validation-valid" data-valmsg-for="EmailCode" data-valmsg-replace="true"></span>
            </div>

            @if (!Model.IsExternalLogin)
            {
                <abp-input asp-for="Input.Password" />
            }

            <abp-button button-type="Primary" type="submit" class="btn-lg btn-block mt-4">@L["Register"]</abp-button>
        </form>
    </div>
</div>
@* 使用 js 异步发送邮箱验证码 *@

@section scripts{
    <abp-script-bundle name="@ThemeBundles.Scripts.Register" />
}